{%extends 'base.html'%}
{%load static%}
{%block content%}


<div class="col-md-8 grid-margin transparent" style="border: radius 0; ;">
    <div class="row" style="padding-top:20px; padding-left: 15%; padding-right: 15%;border-radius: 0%;">
      <div class="col-md-6 mb-4 mb-lg-0  transparent" style="border-radius: 0%;">
        <a href="admin_current_models" style="text-decoration: none">
        <div class="card bg-primary"style="height: 180px">
          <div class="card-body">
            <h2 class="text-black">Current Models</h2> 
            <i class="mdi mdi-xbox-controller-view"></i>  
          </div>
        </div>
    </a>
      </div>
      <div class="col-md-6  transparent">
        <a href="addmodel" style="text-decoration: none">
        <div class="card bg-warning"style="height: 180px">
          <div class="card-body">
            <h2 class="text-black" >Add Models</h2> 
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
  



{% endblock %}